//$body-font-family: roboto, sans-serif;
//$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
$body-line-height: 1.2;
$content-line-height: 1.4;
$body-heading-line-height: 1.1;
$jtdpurple: #5739ce;

h1 {
	color: $jtdpurple;
	font-weight: bold;	
}
h2 {
	font-weight: bold;
}
h3 {
	background-color: #F5F6FA;
}
