//$body-font-family: roboto, sans-serif;
//$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
$body-line-height: 1.2;
$content-line-height: 1.4;
$body-heading-line-height: 1.1;
$jtdpurple: #5739ce;

h1 {
	color: $jtdpurple;
	font-weight: bold;	
}
h2 {
	font-weight: bold;
}
h3 {
	background-color: #F5F6FA;
}
.highlighter {
	background-color: #fcf2c2;
	border-radius: 2px;	
}
.task {
    background: rgba($purple-000, 0.2);
    border-left: $border-radius solid $purple-300;
    border-radius: $border-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    padding: .8rem;
}
.task::before {
        color: $purple-300;
        content: "Task";
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .75em;
        padding-bottom: .125rem;
    }
