// Custom additional colors
$mypurple-000: #7253ed !default;
$mypurple-100: #5e41d0 !default;
$mypurple-200: #4e26af !default;
$mypurple-300: #9B5DE5 !default;
$myblue-000: #2c84fa !default;
$myblue-100: #2869e6 !default;
$myblue-200: #264caf !default;
$myblue-300: #00BBF9 !default;
$mygreen-000: #41d693 !default;
$mygreen-100: #11b584 !default;
$mygreen-200: #009c7b !default;
$mygreen-300: #00F5D4 !default;
$myyellow-000: #ffeb82 !default;
$myyellow-100: #fadf50 !default;
$myyellow-200: #f7d12e !default;
$myyellow-300: #FEE440 !default;
$myred-000: #f77e7e !default;
$myred-100: #f96e65 !default;
$myred-200: #e94c4c !default;
$myred-300: #F15BB5 !default;
