// Custom additional colors
$mypurple-000: #9E8DE2 !default;
$mypurple-100: #826CDA !default;
$mypurple-200: #6f55d5 !default;
$mypurple-300: #5739ce !default;
$myred-000: #F99FCB !default;
$myred-100: #F679B6 !default;
$myred-200: #F466AB !default;
$myred-300: #F2499A !default;
$myyellow-000: #FFEBAD !default;
$myyellow-100: #FFE085 !default;
$myyellow-200: #FFDB70 !default;
$myyellow-300: #FFD452 !default;
$myblue-000: #A6D5F2 !default;
$myblue-100: #82C4ED !default;
$myblue-200: #4CABE6 !default;
$myblue-300: #299AE1 !default;
$mygreen-000: #ADEBDB !default;
$mygreen-100: #8CE3CD !default;
$mygreen-200: #5CD6B8 !default;
$mygreen-300: #35CDA7 !default;
