// Custom additional colors
$mypurple-000: #9E8DE2 !default;
$mypurple-100: #826CDA !default;
$mypurple-200: #6f55d5 !default;
$mypurple-300: #5739ce !default;
$myred-000: #F9B4DD !default;
$myred-100: #F68ECC !default;
$myred-200: #F47CC4 !default;
$myred-300: #F15BB5 !default;
$myyellow-000: #FEF6C2 !default;
$myyellow-100: #FEEE85 !default;
$myyellow-200: #FEE95D !default;
$myyellow-300: #FEE440 !default;
$myblue-000: #ADEBFF !default;
$myblue-100: #5CD6FF !default;
$myblue-200: #33CCFF !default;
$myblue-300: #00BBF9 !default;
$mygreen-000: #ADFFF4 !default;
$mygreen-100: #5CFFE9 !default;
$mygreen-200: #1FFFE1 !default;
$mygreen-300: #00F5D4 !default;
