// Override theme variables here to change colors, fonts, spacing, etc
// https://just-the-docs.github.io/just-the-docs/docs/customization/#color-schemes
// https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$body-font-family: "Roboto Condensed", system-ui, -apple-system, blinkmacsystemfont, sans-serif !default;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace !default;
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

$border: 2px solid !default;

$blue-000: #2c84fa !default;
$blue-100: #2869e6 !default;
$blue-200: #264caf !default;
$blue-300: #183385 !default;
$green-000: #41d693 !default;
$green-100: #11b584 !default;
$green-200: #009c7b !default;
$green-300: #026e57 !default;
$red-000: #f77e7e !default;
$red-100: #f96e65 !default;
$red-200: #e94c4c !default;
$red-300: #dd2e2e !default;
