// Override theme variables here to change colors, fonts, spacing, etc
// https://just-the-docs.github.io/just-the-docs/docs/customization/#color-schemes
// https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$body-font-family: "Roboto Condensed", system-ui, -apple-system, blinkmacsystemfont, sans-serif !default;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace !default;
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

$border: 2px solid !default;
